.header__presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

.header__title::before{
    content: url("img/stars.png");
}

.header__title{
    font-family:var(--base-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.header__contact{
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.header__nav .header__nav-container{
    display: none;
}

@media screen and (min-width: 425px) {
    .header__presentation{
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .header__nav .header__nav-container{
        display:initial;
    }
    .header__nav{
        display: flex;
        align-items: center;
    }
    .header__nav-container .navs{
        padding: 0.4rem;
    }

    .navs{
        text-decoration: none;
        color: var(--base-color-font);
    }
}

