.contact__form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .contact__form-container{
        width: 100vw;
    }
}

@media screen and (min-width: 1024px) {
    .contact__form-container{
        width: 1136px;
        height: 660px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}