.contact__items{
    width: 296px;
    height: 56px;
    padding-top: 1rem;
    border: none;
    outline: 0px;
    border-bottom: 1px solid var(--background-button-demo-line);
}

.contact__textarea{
    width: 296px;
    height: 133px;
    border: none;
    padding-top: 1rem;
    outline: 0px;
}