.contact__text-container{
    width: 296px;
    margin-bottom: 1rem;
}


.contact__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 1rem;
}

.contact__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 296px;
}

@media screen and (min-width: 768px) {
    .contact__text-container{
        width: 91.146vw;
    }
}

@media screen and (min-width: 1024px) {
    .contact__text-container{
        width: 656px;
        height: 84px;
    }
}