.contact__items{
    display: block;
    margin-bottom: 2rem;
    border: none;
    outline: 0px;
    border-bottom: 1px solid var(--background-contact-50);
    width: 296px;
    height: 49px;
}

.contact__textarea{
    width: 296px;
    height: 133px;
    margin-bottom: 1rem;
    display: block;
    border: none;
    outline: 0px;
    border-bottom: 1px solid var(--background-contact-50);
}

.contact__input-submit{
    width: 133px;
    height: 40px;

    align-self: flex-end;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: var(--background-origin-white);
    outline: 0;
    border: 1px solid var(--background-button-demo-line);
    background: var(--background-button-demo-line);
}

@media screen and (min-width: 768px) {
    .contact__items{
        width: 91.146vw;
        height: 49px;
    }

    .contact__textarea{
        width: 91.146vw;
        height: 133px;
    }
}

@media screen and (min-width: 1024px) {
    .contact__items{
        width: 656px;
        height: 56px;
    }

    .contact__textarea{
        width: 656px;
        height: 133px;
    }
}