.profile__title{
    font-size: 22px;
    font-weight: 700;
    
}

.profile__description{
    color: var(--background-origin-white);
}

@media screen and (min-width: 1024px) {
    .profile__title{
        color: var(--background-contact-50);
    }

    .profile__description{
        color: var(--background-contact-50);
    }
}