.profile__links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.profile__links .profile__links--list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.links{
    text-decoration: none;
    color: var(--base-color-font);
}

.links::after{
    content: url("/img/Vector.png");
    color: var(--base-color-font);
}




