.academic__items-box{
    display: flex;
    width: 296px;
    height: 174px;
    margin-bottom: 1.5rem;
    flex-direction: column;
    background: var(--background-origin-white);
}

.academic__img-box{
    width: 296px;
    height: 118px; 
}

@media  screen and (min-width: 768px) {
    .academic__items-box{
        width: 224px;
        height: 169px;
    }

    .academic__img-box{
        width: 224px;
        height: 118px;
    }
}

@media  screen and (min-width: 1024px) {
    .academic__items-box{
        width: 368px;
        height: 347px;
    }

    .academic__img-box{
        width: 368px;
        height: 347px;
    }
}