.academic__title{
    font-weight: 700;
    line-height: 18.78px;
}

.academic__title-one{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.academic__title-two{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.academic__title-three{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}