.contact__form-inputContainer{
    width: 296px;
    height: 407px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .contact__form-inputContainer{
        width: 91.146vw;
    }
}

@media screen and (min-width: 1024px) {
    .contact__form-inputContainer{
        width: 656px;
        height: 397px;
    }
}