:root{
    --background-origin-white: #ffffff;
    --background-contact-30: #C8C8C8;
    --background-contact-50: #A2A2A2;

    --background-button-demo-line: #2A7AE4;
    
    --base-font: 'Raleway', sans-serif;

    --base-color-font: #464646;
    
    --background-sections-grey: #EAF2FD;
}

.about{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0;

    font-family: var(--base-font);
}