.about__me{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 360px;
    gap: 1rem;
    margin-top: 0rem;
    margin-left: 0.5rem;
    padding: 1rem;
    background: var(--background-sections-grey) ;
}

.about__me--container{
    width: 328px;
}

@media  screen and (min-width: 768px) {
    .about__me{
        width: 100vw;
    }

    .about__me--container{
        width: 91.5vw;
        padding: 2rem;
    }
}

@media  screen and (min-width: 425px) {
    .about__me{
        align-self: center;
    }
}