.about__me{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 360px;
    height: 350px;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    background: var(--background-sections-grey) ;
}

.about__me--container{
    width: 328px;
    height: 318px;
}