.academic__training{
    background: var(--background-sections-grey);
    width: 360px;
    height: 508px;
}

.academic__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}