.academic__training{
    background: var(--background-sections-grey);
    width: 360px;
    height: auto;
    margin-left: 0.5rem;
}

.academic__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

@media  screen and (min-width: 768px) {
    .academic__training{
        width: 100vw;
    }

    .academic__container{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}