.hobbies{
    background: var(--background-sections-grey);
    width: 360px;
    height: 508px;
    margin-left: 0.5rem;
}

.hobbies__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}