.professional__experience{
    width: 296px;
    height: 1081px;

    padding: 2rem;

    background: var(--background-sections-grey);
}

@media  screen and (min-width: 768px) {
    .professional__experience{
        width: 100vw;

        padding-right: 0px;
        padding-left: 0px;
    }
}