.professional__experience-with-bttns{
    width: 360px;
    height: 324px;

    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--background-sections-grey);
}