.soft__skills{
    background: var(--background-sections-grey);
    width: 360px;
    height: 508px;
    margin-left: 0.5rem;
}

.soft__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

@media  screen and (min-width: 768px) {
    .soft__skills{
        width: 100vw;
        height: 21vh;
    }

    .soft__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}