.academic__items-box{
    display: flex;
    width: 296px;
    height: 168px;
    margin-bottom: 1rem;
    background: var(--background-origin-white);
    border: 1px solid black;
}

.academic__img-box{
    width: 145px;
    height: 80px;
}