.academic__items-box{
    display: flex;
    width: 296px;
    height: 168px;
    margin-bottom: 1rem;
    padding: 1rem;
    background: var(--background-origin-white);
}

.academic__img-box{
    width: 100%;
    height: 100%;  
}