.academic__title{
    font-weight: 700;
    line-height: 18.78px;
}

.academic__title-one{
    margin-left: -14.8rem;
}

.academic__title-two{
    font-size: 15px;
    margin-left: -1rem;
}

.academic__title-three{
    font-size: 16px;
    margin-left: -9.2rem;
}