.professional__text-one{
    margin-bottom: .5rem;
}

.professional__text-two{
    width:296px;
    margin-bottom: 1rem;
}

.professional__text-three{
    width:296px;
    margin-bottom: 1rem;
}

.professional__text-four{
    width:296px;
    margin-bottom: 1rem;
}