.professional__img-box{
    width: 296px;
    height: 144px;
}

@media  screen and (min-width: 768px) {
    .professional__img-box{
        width: 704px;
        height: 230px;
    }
}

@media  screen and (min-width: 768px) {
    .professional__img-box{        
        width: 752px;
        height: 406px;
    }
}