.professional__experience-without-bttns{
    width: 360px;
    height: 661px;

    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;

    background: var(--background-sections-grey);
}
 