.professional__title-one{
    margin-top: 1rem;
    margin-left: -9.29rem;
}

.professional__title-two{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    margin-left: -4.8rem;
}

.professional__title-three{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    margin-left: -2.3rem;
}

.professional__title-four{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    margin-left: -11.1rem;
}