

.professional__title-two{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: -4.8rem;
}

.professional__title-three{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: -2.3rem;
}

.professional__title-four{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: -11.1rem;
}